.DS_Store
node_modules
javascript.iml
*.js-e
*.json-e
upload/*
coverage/
.idea
*.iml

.babelrc

# No rollup cache
.rts2_cache*

# No source or test needed
src
test

# No build specifics needed
.pubnub.yml
.travis.yml

.eslintrc.cjs
Makefile
index.html
package.json
vite.config.js
vitest.config.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local
.UserItem-archived.jsx
index.html
jsr.json
tsconfig.json
tsconfig.node.json
vite.config.ts
vitest.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
