@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .useritem {
    @apply text-[16px] text-black bg-transparent dark:text-white select-none relative cursor-pointer;
    line-height: 1.4;
    outline: none;

    button {
      @apply outline-none;
      outline: none;
    }

    &--loading {
      &--line,
      .useritem--avatar {
        @apply bg-neutral-200;
        animation: opacityChange 1500ms infinite alternate;
      }
    }
    &--avatar {
      @apply min-w-[48px] min-h-[48px] overflow-hidden text-white flex items-center justify-center font-[600] text-[18px];
      outline: none;
    }
    &--description {
      @apply text-[15px] font-[300] text-neutral-400 truncate;
    }
    &--item {
      @apply text-black relative z-[99] h-[74px] flex justify-between items-center py-3 px-4 transition ease-in duration-300;
    }
    &--dropdown {
      @apply z-[9] p-2 absolute top-[73px] bg-white w-full;
    }
    &--title {
      @apply text-[17px] font-[600] truncate;
    }
    &--disabled {
      @apply text-neutral-400 opacity-50 cursor-none pointer-events-none;
      .useritem--description {
        @apply text-neutral-400;
      }
      svg {
        @apply opacity-25;
      }
    }
  }
}

@keyframes opacityChange {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
